<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
    <style>
        .ind{
            margin-left: 35%;
            color: black;
            text-decoration: none;
            font-size: 30%
        }
        .ind:hover{
            text-decoration:none;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
          <a class='ind' href="/index"><h3>КЕГЭ подготовка 10-11 классов к экзамену</h3></a>

        {% if current_user.is_authenticated or current_user.teach == 1%}
    <a class="navbar-brand" href="/user">{{ current_user.name }}</a>
    {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
    {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<div class="container-fluid">
<div class="row">
<div class="col-md-9">
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</div>
</div></div>
</body>
</html>