{% extends "base.html" %}

{% block content %}
<form class="" method="post">
    <div class="form-group">
        <a href="/index" class="btn btn-primary">К выбору темы</a>
        {% if current_user.is_authenticated or current_user.teach == 1%}
            {% if current_user.admin%}
                <a href="/task/{{topic.id}}" class="btn btn-secondary">Добавить задачу</a>
            {% endif %}
        {% endif %}
        <hr noshade size="10">
        {{topic.name}}<br>
        <i>(cохранена нумерация задач с сайта Полякова К.Ю.)</i>
        <hr noshade size="10">
    </div>
    {% for item in tasks%}
        <p>
            {{item.content | safe}}<br>
            Ответ: <br>{{item.ans | safe}}
        </p>
            <a href="/show_ans/{{item.id}}" class="btn btn-primary">Посмотреть решение</a>
        {% if current_user.is_authenticated %}
            <a href="/new_ans/{{item.id}}" class="btn btn-secondary">Добавить решение</a>
            {% if current_user.admin %}
                <a href="/edit_task/{{item.id}}" class="btn btn-secondary">Редактировать задачу</a>
            {% endif %}
        {% endif %}
        <hr noshade size="10">
    {% endfor %}
</form>
{% endblock %}