{% extends "base.html" %}

{% block content %}
<form class="" method="post">
    <div class="form-group">
        {% if current_user.is_authenticated %}
            {% if current_user.admin%}
            <p>
                <a href="topic" class="btn btn-secondary">Добавить тему</a>
                <a href="teachers" class="btn btn-secondary">Назначить учителя</a>
                <a href="user-" class="btn btn-secondary">Просмотр пользователей</a>
            </p>
            {% endif %}
        {% endif %}
        <h5>почта поддержки- kege@yandex.ru</h5>
        <h3>Задачи взяты с сайта <a href="https://kpolyakov.spb.ru/school/ege.htm">КПоляков</a></h3>
        <hr noshade size="10">
        {% for item in topics%}
                    {{item.name}}<br><br>
                    <button class="btn-zadach-hard"><a href="/show_task/{{item.id}}" class="a-zadach-hard">Перейти к задачам</a></button>
                    <br>
        <hr noshade size="10">
        {% endfor %}

    </div>

 </form>
{% endblock %}
