{% extends "base.html" %}

{% block content %}
<form class="" method="post">
    <div class="form-group">
        <button class="btn-zadach-hard"><a href="/index" class="a-zadach-hard">К выбору темы</a></button>
        {% if current_user.is_authenticated or current_user.teach == 1%}
            {% if current_user.admin%}
                <a href="/task/{{topic.id}}" class="btn btn-secondary">Добавить задачу</a>
            {% endif %}
        {% endif %}
        <hr noshade size="10">
        {{topic.name}}<br>
        <i>(cохранена нумерация задач с сайта Полякова К.Ю.)</i>
        <hr noshade size="10">
    </div>
    {% for item in tasks%}
        <p>
            {{item.content | safe}}<br>
            <button class="btn-otvet">Ответ:<a class="hidden"><br>{{item.ans | safe}}</a></button>
        </p>
            <div class="knopki">
                <button class="btn-smotr-hard"><a href="/show_ans/{{item.id}}" class="a-smotr-hard">Посмотреть решение</a></button>
                {% if current_user.is_authenticated  and not current_user.block%}
                {% current_user.block %}
                <button class="btn-dob-hard"><a href="/new_ans/{{item.id}}" class="a-dob-hard">Добавить решение</a></button>
            </div><br><br>
                    {% if current_user.admin %}
                        <br><br><a href="/edit_task/{{item.id}}" class="btn btn-secondary">Редактировать задачу</a>
                    {% endif %}
                {% endif %}
        <hr noshade size="10">
    {% endfor %}
</form>
{% endblock %}